* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	direction: rtl;
	background-color: #2980b9;
}
.login {
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	justify-content: center;	
}
.login h1 {
	color: #fff;
	margin: 20px;
	padding: 20px;
	border-bottom: 1px solid white;
	font-size: 25px;
	transition: 1s;
	
}
.login h1:hover{
	border-color: #FFFFFF;
	font-size: 30px;
}
.login input[type="text"],input[type="password"] {
	margin: 20px;
	padding: 10px 15px;
	width: 250px;
	border: 1px solid #78e00f;
	border-radius: 24px;
	transition: 0.5s;
}
.login input[type="submit"] {
	margin: 20px;
	padding: 10px 14px;
	width: 100px;
	border: 1px solid #78e00f;
	border-radius: 24px;
	background-color: #FFFFFF;
	width: 100px;
	cursor: pointer;
	transition: 0.9s;
}
.login input[type="submit"]:hover{
	background-color: #38ada9;
	color: #FFFFFF;
	width: 150px;
}
.remeber {
	color: #FFFFFF;
}
.login input[type="text"]:focus,input[type="password"]:focus {
	width: 300px;
}










